<% provide(:title, 'Contact') %>

<h1>Contact</h1>
<p>Get help on the RoR tutorials at the <a href="http://railstutorial.org/#help">RoR Tutorial Help section</a>
To get Contact on this sample app	, praise the lord for miracle!
</p>
